.pageContenuFirst {
    background-image: url('../images/bgblackandwhite.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 76px;
    position: relative;
}

.bgOverlay {
    background-image: linear-gradient(to right, rgba(255,255,255,0.3), rgba(22,57,154, 0.4));
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.transition {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.0), rgba(255, 27, 145, 0.0), rgba(0,0,0,0), rgba(0,0,127,1));
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.pageContenu {
    color: darkblue;
    padding-top: 1%
}

.pageContenujaune {
    background-image: url('../images/bglambdagold.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: darkblue;
    padding-top: 1%
}


.pageContenubleu {
    background-image: url('../images/bglambdableu.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: goldenrod;
    padding-top: 3%
}


.titre {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    font-size: 500%;
    color: white;
    text-shadow: 5px 5px 10px rgba(100,100,100,0.9);
    z-index: 2;
}

.boutonImpression {
    display: flex;
    justify-content: center;
    align-content: center;
    color: navy;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    z-index: -1;
}

.DropIcone{

    position: absolute;
    bottom: 0;
    justify-content: center;
    background: none;
    border: none;

}


.cercles {
    background-color: navy;
    text-align: center;
    color: white;
    font-size: 200%;

}

.texteCercle {
    padding-top: 36%
}


.filiere {
    padding-top: 2%;
    margin: 1%;
    height: 20%;
    background-color: navy;
    color: white;
    text-align: center

}