.basPage {
    font-size: 80%;
    background-color: rgb(22,97,154);
    color: white;
}

.subSection {
    display:flex;
    list-style: none;
    margin-top: 1%; 
    margin-bottom: 0%;
}

.contact {
    padding-right: 200px;
    width: 50%;
    margin-bottom: 0%
}

.ligne {
    background-image: linear-gradient(to right, rgb(255,255,255), rgb(17,17,153));
    margin-bottom: 5px
}

.liens {
    width: 120px
}

.partenaires {
    width: 50%
}