.mainTitle {
    color: rgb(200, 145, 10);
    font-size: 500%;
}
.mainTitle:hover {
    text-decoration: none;
    color: rgb(180, 125, 0);

}

.navbarItem, .boutonPlaquette {
    padding-left: 50px;
    color : white;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer
}
.navbarSub {
    color : white;
    display: flex;
    justify-content: center
}
.navbarItem:hover, .navbarSub:hover, .boutonPlaquette:hover{

    color : #777777;
    font-style: none;
    text-decoration: none
    
}
