@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

// Set your brand colors
$purple: #8A4D76;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: rgb(22, 68, 154);
$link: #00a2e1;
$warning: goldenrod;
// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$notification-padding: 4.25rem 2.5rem 4.25rem 1.5rem;
$is-size-1-desktop : 2rem;
/* ==========================================================================
0. Tablet Landscape
========================================================================== */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* ==========================================================================
1. Tablet Portrait
========================================================================== */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .landing-caption {
        padding: 0 10%;
        .divider {
            margin: 0 auto;
        }
        h1, h2, p {
            text-align: center !important;
        }
        h1 {
            padding: 0 10%;
        }
    }
    //features
    .feature p {
        padding: 0 25%;
    }
    //Side features
    .side-feature-content {
        text-align: center;
        img {
            display: block;
            margin: 10px auto;
        }
        .divider {
            margin: 0 auto;
        }
        p {
            padding: 0 12%;
        }
    }
    //tabs
    .flying-wrapper {
        ul {
            .item-content {
                font-size: 80% !important;
            }
        }
    }
    //team
    .team-member-container {
        margin: 0 25%;
    }
}

/* ==========================================================================
2. Mobile
========================================================================== */

@media (max-width: 767px) {
    //Navbar
    .navbar {
        .navbar-item {
            &.is-nav-link {
                text-align: center !important;
            }
        }
        .button.slanted {
            width: 100% !important;
        }
        .navbar-menu.is-active {
            &.light-menu {
                background: #2d0275 !important;
            }
        }
        &.is-light.is-dark-mobile {
            background: #2d0275 !important;
        }
    }
    //Lanfing page hero
    .landing-caption {
        .divider {
            margin: 0 auto;
        }
        h1, h2, p {
            text-align: center !important;
        }
        h1 {
            font-size: 2.2rem !important;
        }
        h2 {
            font-size: 1.05rem !important;
        }
    }
    //features
    .side-feature-content {
        text-align: center;
        img {
            display: block;
            margin: 10px auto;
        }
        .divider {
            margin: 0 auto;
        }
    }
    //tabs
    .flying-wrapper {
        ul {
            a {
                width: 23.8% !important;
            }
            .item-content {
                font-size: 80% !important;
            }
        }
    }
    .ico-card {
        padding: 20px 30px !important;
    }
    //events
    .events-content {
        min-height: 386px;
    }
    //Roadmap bottom image
    .roadmap-end {
        left: -100%;
        transform: translateX(210px);
        top: -86px;
    }
}


/* ==========================================================================
3. Mixed Mobile / Tablet Portrait
========================================================================== */

@media (max-width: 768px) {

}
.wrapper {
    background:linear-gradient(120deg, $primary, #00a2e1);
}
@import "../../node_modules/bulma/bulma.sass";